@import '~antd/dist/antd.css';

.login-form--sign-in {
    max-width: 300px;
    margin: auto;
    padding-top: 20vh;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
