@import '~antd/dist/antd.css';
@import './css/Timetable.css';
@import './css/PatronsList.css';

.margin-md {
    margin: 16px;
}

.ml-lg {
    margin-left: 16px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    margin-left: 8px;
}

.card-label {
    font-size: 14px;
    line-height: 1.5;
    color: black;
    font-weight: 600;
}
